DUTCHIE_BEARER_TOKEN=<rotate before use>
DUTCHIE_RETAILER_ID=fdbaec7b-3a75-4f47-84d7-79de799c1b32
AIRTABLE_PAT=<rotate before use>
AIRTABLE_BASE_ID=apptyyJaa7BU1hN8R
AIRTABLE_MAIN_TABLE_ID=tblOdltdiIqtteHp9
AIRTABLE_COPY_TABLE_ID=tbl2PAAFMd8kBBYWy
SYNC_INTERVAL_MINUTES=5
ALERT_EMAIL=david.coletta@high-hopes.biz
ALERT_CONSECUTIVE_FAILURES=3
SMTP_HOST=<smtp host>
SMTP_PORT=587
SMTP_USER=<smtp username>
SMTP_PASSWORD=<smtp password>
